<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
</head>
<body>
<form class="layui-form" action=""  id="_add_form">
    <div class="layui-form-item">
        <label class="layui-form-label">节点名称</label>
        <div class="layui-input-block">
            <input type="text" name="alias" required  lay-verify="required" placeholder="请输入节点名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">主机ip</label>
        <div class="layui-input-block">
            <input type="text" name="host" required  lay-verify="required" placeholder="请输入主机ip" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">账号</label>
        <div class="layui-input-block">
            <input type="text" name="username" required  lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">端口</label>
        <div class="layui-input-block">
            <input type="text" name="port" required  lay-verify="required" placeholder="请输入端口" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">私钥</label>
        <div class="layui-input-block">
            <textarea name="rsa" placeholder="cat ~/.ssh/id_rsa" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea name="remark" placeholder="请输入备注" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</body>
<!-- 引入 layui.js -->
<script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>
<script>
    //Demo
    layui.use(['form','jquery','layer'], function(){
        var form = layui.form;
        var layer = layui.layer;
        var $ = layui.$;
        //监听提交
        form.on('submit(formDemo)', function(data){
            let params = JSON.stringify(data.field);
            $.ajax({
                url : '/index/crontabNodeCreateDo',
                type : 'post',
                dataType : 'json',
                contentType :"application/json",
                data : params,
                success : function (res) {
                    if (res.code==0){
                        layer.msg(res.msg,{icon:5});
                    }else{
                        layer.msg(res.msg,{icon:6,time:2000},function () {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                            window.parent.location.reload();
                        });
                    }
                }
            })
            return false;
        });
    });
</script>
</html>