<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>更新页面</title>
        <link rel="stylesheet" href="/app/admin/component/pear/css/pear.css" />
        <link rel="stylesheet" href="/app/admin/admin/css/reset.css" />
    </head>
    <body>

        <form class="layui-form">

            <div class="mainBox">
                <div class="main-container mr-5">
                    <div class="layui-form-item">
                        <label class="layui-form-label required">任务标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" value="" required lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label required">任务类型</label>
                        <div class="layui-input-block">
                            <div name="type" id="type" value="" ></div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">常用时间表达式</label>
                        <div class="layui-input-block">
                            <div name="cron_tips" id="cron_tips" value="" ></div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label required">执行时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="rule" id="rule" value="" required lay-verify="required" class="layui-input">
                            <span style="color: red">时间表达式，可在列表页面查看时间表达式在线校验</span>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">执行命令</label>
                        <div class="layui-input-block">
                            <input type="text" name="target" placeholder="只需填写要调用的文件|url名称即可" value="" class="layui-input">
                            <span style="color: red">远程节点执行时只需填写文件名称和参数，url调用时只需填写url地址即可</span>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <textarea name="remark" placeholder="请输入内容" class="layui-textarea">
需求名称：
产品信息：
开发人员：
目的：
</textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">任务状态</label>
                        <div class="layui-input-block">
                            <input type="checkbox" id="status" lay-filter="status" lay-skin="switch" />
                            <input type="text" style="display:none" name="status" value="1" />
                        </div>
                    </div>

                    <div class="layui-form-item" id="node_set">
                        <label class="layui-form-label">节点设置</label>
                        <div class="layui-input-block">
                            <div name="node_id" id="node_id" value="" ></div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">任务分类</label>
                        <div class="layui-input-block">
                            <div name="category_id" id="category_id" value="" ></div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">结束时间</label>
                        <div class="layui-input-block">
                            <input type="text" autocomplete="off" name="end_time" id="end_time" class="layui-input inline-block" placeholder="结束时间">
                            <span style="color: red">结束时间,若填写时，超过此时间定时任务会自动结束</span>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">单次运行最大时间</label>
                        <div class="layui-input-block">
                            <input type="number" value="0" name="single_run_max_time"  class="layui-input">
                            <span style="color: red">单次运行最大时间，超长会报警，单位：秒，默认为0不报警</span>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">预警人员</label>
                        <div class="layui-input-block">
                            <div  name="warning_ids" id="warning_ids" ></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="bottom">
                <div class="button-container">
                    <button type="submit" class="pear-btn pear-btn-primary pear-btn-md" lay-submit="" lay-filter="save">
                        提交
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md">
                        重置
                    </button>
                </div>
            </div>
            
        </form>

        <script src="/app/admin/component/layui/layui.js"></script>
        <script src="/app/admin/component/pear/pear.js"></script>
        <script src="/app/admin/admin/js/permission.js"></script>
        
        <script>

            // 相关接口
            const PRIMARY_KEY = "id";
            const SELECT_API = "/system-crontab/select" + location.search;
            const UPDATE_API = "/system-crontab/update";


            // 获取数据库记录
            layui.use(["form", "util", "popup",'xmSelect'], function () {
                let $ = layui.$;
                $.ajax({
                    url: SELECT_API,
                    dataType: "json",
                    success: function (res) {
                        // 给表单初始化数据
                        layui.each(res.data[0], function (key, value) {
                            let obj = $('*[name="'+key+'"]');
                            if (key === "password") {
                                obj.attr("placeholder", "不更新密码请留空");
                                return;
                            }
                            if (typeof obj[0] === "undefined" || !obj[0].nodeName) return;
                            if (obj[0].nodeName.toLowerCase() === "textarea") {
                                obj.val(layui.util.escape(value));
                            } else {
                                obj.attr("value", value);
                            }
                        });
                        layui.use(["jquery", "xmSelect", "popup"], function() {
                            layui.$("#status").attr("checked", layui.$('input[name="status"]').val() != 0);
                            layui.form.render();
                            layui.form.on("switch(status)", function(data) {
                                layui.$('input[name="status"]').val(this.checked ? 1 : 0);
                            });
                            // 结束时间
                            layui.laydate.render({
                                elem: "#end_time",
                                // range: ["#create_time_start", "#create_time_end"],
                                value:res.data[0].end_time,
                                type: "datetime",
                            });

                            // 页面下拉参数
                            layui.$.ajax({
                                url: "/system-crontab/getHtmlConfig",
                                dataType: "json",
                                success: function (result) {
                                    // 任务类型
                                    if (res.data[0].type){
                                        if (res.data[0].type == 2){
                                            layui.$('#node_set').hide();
                                        }else{
                                            layui.$('#node_set').show();
                                        }
                                    }
                                    console.log(res.data[0])
                                    layui.xmSelect.render({
                                        el: "#type",
                                        name: "type",
                                        initValue: [res.data[0].type],
                                        radio: true,
                                        clickClose: true,
                                        data: result.data.cron_type,
                                        on:function (data) {
                                            if (data.arr[0]){
                                                if (data.arr[0].value == 2){
                                                    layui.$('#node_set').hide();
                                                }else{
                                                    layui.$('#node_set').show();
                                                }
                                            }
                                        }
                                    });

                                    // 常用时间表达式
                                    layui.xmSelect.render({
                                        el: "#cron_tips",
                                        name: "cron_tips",
                                        radio: true,
                                        clickClose: true,
                                        initValue: [],
                                        data: result.data.cron_tips,
                                        on:function (data) {
                                            if (data.arr[0]){
                                                layui.$('#rule').val( data.arr[0].value )
                                            }
                                        }
                                    });

                                    //  节点设置
                                    layui.xmSelect.render({
                                        el: "#node_id",
                                        name: "node_id",
                                        radio: true,
                                        clickClose: true,
                                        initValue: [res.data[0].node_id],
                                        data: result.data.node_list,
                                    });
                                    // 任务分类
                                    layui.xmSelect.render({
                                        el: "#category_id",
                                        name: "category_id",
                                        radio: true,
                                        clickClose: true,
                                        initValue: [res.data[0].category_id],
                                        data: result.data.category_list,
                                    });
                                    // 预警人员
                                    let warn_init_value =   res.data[0].warning_ids ? res.data[0].warning_ids.split(",") : [];

                                    layui.xmSelect.render({
                                        el: "#warning_ids",
                                        name: "warning_ids",
                                        initValue: warn_init_value,
                                        data: result.data.warn_list,
                                    });
                                    if (res.code) {
                                        layui.popup.failure(res.msg);
                                    }
                                }
                            });
                        })
                        
                        // ajax返回失败
                        if (res.code) {
                            layui.popup.failure(res.msg);
                        }
                        
                    }
                });

            });

            //提交事件
            layui.use(["form", "popup"], function () {
                layui.form.on("submit(save)", function (data) {
                    data.field[PRIMARY_KEY] = layui.url().search[PRIMARY_KEY];
                    layui.$.ajax({
                        url: UPDATE_API,
                        type: "POST",
                        dateType: "json",
                        data: data.field,
                        success: function (res) {
                            if (res.code) {
                                return layui.popup.failure(res.msg);
                            }
                            return layui.popup.success("操作成功", function () {
                                parent.refreshTable();
                                parent.layer.close(parent.layer.getFrameIndex(window.name));
                            });
                        }
                    });
                    return false;
                });
            });

        </script>

    </body>

</html>
